* {
    padding: 0;
    margin: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #111;
    padding: 2em;
    box-sizing: border-box;
    /* overflow: hidden; */
}



h1 {
    font-size: 3em;
    text-align: center;
    color: whitesmoke;
}

input[type="radio"] {
    display: none;
}

.slider-wrapper {
    margin: 1em auto;
    width: 40vw;
    background: #fff;
    height: calc(100vh - 12em);
    padding: 1em;
    box-sizing: border-box;
    display: grid;
    grid-template-areas: "img img""caption btn";
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 1em;
    align-items: center;
}

.slider-images {
    grid-area: img;
   width: 100%;
   height: auto;
   border: 0.2rem solid #111;
}

.slider-captions {
    grid-area: caption;
}

.slider-controls {
    grid-area: btn;
}

.slide-img {

/*     transition: all 0.2s ease-in-out;
 */    display: none;
height: 100%;
}
.slide-img img {
    width: 100%;
    height: auto;

}


.slide-caption {
    display: none;
    font-size: 1.2rem;
}

#slide-1:checked ~ .slider-images .slide-img-1,
#slide-2:checked ~ .slider-images .slide-img-2,
#slide-3:checked ~ .slider-images .slide-img-3,
#slide-4:checked ~ .slider-images .slide-img-4,
#slide-5:checked ~ .slider-images .slide-img-5
 {
display: block;
/*     transition: all 0.3s ease-in-out ; */
    width: 100%;


}
#slide-1:checked ~ .slider-captions .slide-caption-1,
#slide-2:checked ~ .slider-captions .slide-caption-2,
#slide-3:checked ~ .slider-captions .slide-caption-3,
#slide-5:checked ~ .slider-captions .slide-caption-5,
#slide-4:checked ~ .slider-captions .slide-caption-4
 {
    display: block;
}

.slider-controls {
    display: flex;
justify-content: flex-end;
}

.slide-btn {
    width: 3em;
    height: 3em;
    padding: 0.5em;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 1em;
}
.slide-btn:last-of-type {
    margin-right: 0;
}

#slide-1:active ~ .slider-controls .slide-btn-1 span,
#slide-2:active ~ .slider-controls .slide-btn-2 span,
#slide-3:active ~ .slider-controls .slide-btn-3 span,
#slide-4:active ~ .slider-controls .slide-btn-4 span, 
#slide-5:active ~ .slider-controls .slide-btn-5 span 
{

    background: orange;
}

.slide-btn span {
    display: block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background: whitesmoke;
    border: 0.3em solid #111;
    box-sizing: border-box;
}

.slide-btn:hover span {
    border-color: orange;
}

#slide-1:checked ~ .slider-controls .slide-btn-1 span,
#slide-2:checked ~ .slider-controls .slide-btn-2 span,
#slide-3:checked ~ .slider-controls .slide-btn-3 span,
#slide-4:checked ~ .slider-controls .slide-btn-4 span, 
#slide-5:checked ~ .slider-controls .slide-btn-5 span 
{
    background: #111;
}

@media (max-width:1900px) {
    .slider-wrapper {
        width: 60vw;

    }
    
    .slider-images {
        max-width: 80%;
        margin: auto;
    }
}

@media (max-width:1200px) {
    .slide-btn {
        width: 2.5em;
        height: 2.5em;
    }
    .slide-btn span {
        width: 1.5em;
        height: 1.5em;
    }
}

@media (max-width:1024px) {
    .slider-wrapper {
        width: 90vw;
        height: 95vh;
        padding: 0;
    }
    
    .slider-wrapper {
        grid-template-areas: "img img" "btn btn" "caption caption" ;
    }
    
    .slider-controls {
        justify-content: center;
    }
    
    .slider-images {
        max-height: 60vh;
        height: 100%;
        width: auto;
    
    }
    .slide-img img {

        width: auto;
        
        max-width: 100%;
    }
}